*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image: url(/Img/thunderstorm-3440450_1920.jpg);
    font-family: 'Montserrat';
    font-weight: 500;
    color: white;
}
.title{
    margin-top: 2vh;
}
.title h1{
    font-weight: 800;
    font-style: italic;

    text-shadow: 3px 5px rgba(0, 0, 0, 0.5);
}
.searchBox{
    margin-top: 5vh;
}
.searchBox .searchBar{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16pt;
    width: 80vw;
    height: 5vh;
    outline: none;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;

    border-radius: 10px 0px 10px 0px;
    border: none;
    padding-left: 10px;
    transition: 0.8s;
}
.searchBox .searchBar::placeholder{
    color: white;
}
.searchBox .searchBar:focus{
    transition: 0.8s;

    border-radius: 0px 10px 0px 10px;
}
.box{
    margin-top: 10vh;
}
.box h1{
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}
.box .weather-box .temp{
    font-size: 64pt;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.5);
}
.box .weather-box .weather{
    font-size: 16pt;
    font-weight: 900;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.5);
}
.box .data{
    margin-top: 10px;
    font-size: 14pt;
    font-weight: 500;
    font-style: italic;
}
.box .weatherDesc{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box .weatherDesc .wind{
    margin-left: 10px;
}
@media screen and (min-height: 1024px) {
    .title h1{
        font-size: 32pt;
    
        text-shadow: 6px 10px rgba(0, 0, 0, 0.5);
    }
    .searchBox .searchBar{
        font-size: 32pt;
        width: 80vw;
        height: 8vh;
    }
    .box{
        margin-top: 25px;
    }
    .box h1{
        font-size: 40pt;
        text-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    }
    .box .weather-box .temp{
        font-size: 128pt;
        text-shadow: 6px 12px rgba(0, 0, 0, 0.5);
    }
    .box .weather-box .weather{
        font-size: 32pt;
        text-shadow: 6px 10px rgba(0, 0, 0, 0.5);
    }
    .box .weather-box img{
        width: 40vw;
    }
    .box .weatherDesc{
        margin-top: -10px;
        font-size: 24pt;
    }
    .box .weatherDesc .wind{
        margin-left: 24pt;
    }
    .box .data{
        font-size: 20pt;
    }
}